{% extends "_base.html" %} {% block content %}


{% for obj in lists %}
<a href="detail/car_id={{obj.car_id}}">
  <div class="my-6 max-w-screen-md mx-auto p-4 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 font-sans hover:shadow-lg">
    <div class="flex items-center">
      <img
        class="w-36 h-36 rounded object-contain hover:scale-125 transition duration-500 cursor-pointer"
        src="{{ obj.car_image }}"
        alt="Default
        avatar"
      />
      <div class="ml-6 font-sans font-medium text-xl grid grid-rows-5 gap-4">
        <div>{{ obj.car_name }}</div>
        <div>
          {% for purpose in obj.purposes %} {% for value in purpose %}
          <button type="submit" class="text-black bg-transparent border-2 border-gray-400 hover:bg-gray-200 font-medium rounded-full text-sm w-full sm:w-auto px-4 py-0.5 shadow text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ value.name }}</button>
          {% endfor %} {% endfor %}
        </div>
        <div>
          <button type="submit" class="text-black bg-transparent border-2 border-red-400 hover:bg-gray-200 font-medium rounded-full text-sm w-full sm:w-auto px-4 py-0.5 shadow text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ obj.lend_start_date }}</button>
          <button type="submit" class="text-black bg-transparent border-2 border-red-400 hover:bg-gray-200 font-medium rounded-full text-sm w-full sm:w-auto px-4 py-0.5 shadow text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ obj.lend_end_date }}</button>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" /></svg
          >{{ obj.user_name }}
        </div>
        <div class="flex items-center">
          <svg class="h-6 w-6 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="12" cy="12" r="9" />
            <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
            <path d="M12 6v2m0 8v2" />
          </svg>
          {{ obj.car_price }} VND
        </div>
      </div>
    </div>
  </div>
</a>
{% endfor %} {% endblock content %}
