{% extends "navbar.html" %}

{% block title %}Car list{% endblock %}

<div class="w-2/3 p-4 border rounded-lg bg-white overflow-auto">
    <h2 class="text-2xl font-semibold mb-4">Scrollable List</h2>
    <ul>
        <li class="mb-2">List Item 1</li>
        <li class="mb-2">List Item 2</li>
        <li class="mb-2">List Item 3</li>
        <li class="mb-2">List Item 4</li>
        <li class="mb-2">List Item 5</li>
        <li class="mb-2">List Item 6</li>
        <li class="mb-2">List Item 7</li>
        <li class="mb-2">List Item 8</li>
        <li class="mb-2">List Item 9</li>
        <li class="mb-2">List Item 10</li>
    </ul>
</div>