{% extends "_base.html" %} {% block content %}

<section class="mt-6 w-fit max-w-screen-md mx-auto p-6 border bg-white border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 font-sans">
  <section class="order-details">
    <h2 class="text-9xl flex flex-col items-center pb-9">🎉</h2>
    <p class="text-3xl font-semibold text-center tracking-tight">Your order is complete !</p>
  </section>
  <section class="text-gray-500 pt-3">
    <h2>Thank You for Choosing Us!</h2>
    <p>Your car rental booking has been confirmed.</p>
    <p>An email confirmation with all details has been sent to your inbox.</p>
    <p>For any inquiries, please contact us at <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">support@examplecarrentals.com.</a></p>
  </section>
  <div class="flex flex-col items-center mt-8">
    <a href="/">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Let's go !</button>
    </a>
  </div>
  {% endblock content %}
</section>
